.accordion {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(178, 172, 136, 0.2);
  color: black;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");}

.accordion-button:focus {
  outline: #B2AC88 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #B2AC88;
}

#checkout {
  display: flex;
  flex-direction: row;
}

#web-header {
  display: none;
}

#mobile-header {
  display: block;
}

#easy-checkout {
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.125);
}

#order-summary {
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.125);
  height: 100%;
  margin-bottom: 2.5rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background-color:rgba(178, 172, 136, 0.2) !important;
}

#street-extra, #city-state-zip {
  flex-direction: column;
}

#street, #extra, #city, #state, #zip {
  width: 100%;
  padding-bottom: 1rem;
}

#card-info {
  flex-direction: column;
}

#exp-cvv {
  width: 100%;
}

#divCardExp {
  margin-right: 1rem;
}

#divCardExp, #divCardCVV {
  width: 50%;
}

.shipment-box {
  border-radius: 4px;
  border: 0.5px solid rgba(0,0,0,0.125);
  padding: 1rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#order-alert {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

@media (min-width: 768px) { 
  
  #street-extra, #city-state-zip {
    flex-direction: row;
  }

  #street {
    width: 75%;
    margin-right: 1rem;
  }

  #extra {
    width: 25%;
  }

  #city {
    width: 50%;
    margin-right: 1rem;
  }

  #state {
    width: 25%;
    margin-right: 1rem;
  }

  #zip {
    width: 25%;
  }

  #card-info {
    flex-direction: row;
  }

  #divCardNum {
    width: 75%;
  }

  #exp-cvv {
    width: 25%;
  }

  #divCardExp {
    margin: 0;
  }
  
  #cardNum {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #cardExp {
    border-left: none;
    border-right: none;
    border-radius: 0;
    width: 100%;
  }
  
  #cardCVV {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  #checkout {
    display: flex;
    flex-direction: row-reverse;
  }

  #web-header {
    display: block;
  }
  
  #mobile-header {
    display: none;
  }
}