#jumbotron {
  background-image: url('../images/jumbotron/jumbotron-3.jpg');
  background-size: 100% 100%;
  height: 75vh;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.display-6 {
  color: white;
  font-weight: 600;
  /* text-shadow: -0.5px -0.5px 0 #666600, 0.5px -0.5px 0 #666600, -0.5px 0.5px 0 #666600, 0.5px 0.5px 0 #666600; */
}

.display-6 a {
  background-color: rgba(178, 172, 136, 0.75);
  padding: 5px;
}

.lead {
  color: white;
  font-weight: 400;
}

.lead a {  
  background-color: rgba(178, 172, 136, 0.75);
  padding: 5px;
}

.btn-primary {
  color: white;
  border: 0.5px solid rgba(0,0,0,.125);
}

.btn-outline-primary {
  background-color: rgba(178, 172, 136, 0.5);
  color: rgba(255, 255, 255, 0.5);
  border: 0.5px solid rgba(0,0,0,.125);
}

.btn:hover, .btn-primary:focus, .btn-success:focus {
  color: white;
}

.btn-secondary, .btn-success {
  color: white;
}

#plant-card, #company-card {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

#company-card {
  background-color:rgba(178, 172, 136, 0.2)
}

.hoverToAdd {
  width: 100%;
  height: 100%;
  z-index: 10;

  opacity: 0.9;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hoverToAdd .btn {
  opacity: 1 !important;
  z-index: 100;
}

@media (max-width: 768px) {
  .display-6, .lead {
    line-height: 2;
  }

  #company-card {
    margin-bottom: 1rem;
  }

}

@media (max-width: 589px) {
  #plant-grid {
    width: 85%;
    margin: auto;
  }
}