.dropdown-menu-right {
  right: 0;
  left: auto;
}

#badge {
  background-color:var(--plant-green);
}

#x {
  top: 15px;
  right: 15px;
  left: auto;
}

#home:hover {
  transform: scale(1.1);
  transition-delay: transform 1s;
}

.nav-item img:hover {
  fill: var(--plant-green);
  transform: scale(1.25);
  transition-delay: transform 1s;
}