.dropdown-menu-right {
  right: 0;
  left: auto;
}

#badge {
  background-color: #B2AC88;
}

#x {
  top: 15px;
  right: 15px;
  left: auto;
}

#home:hover {
  transform: scale(1.1);
  transition-delay: transform 1s;
}

.nav-item img:hover {
  fill: #B2AC88;
  transform: scale(1.25);
  transition-delay: transform 1s;
}

.nav-item .dropdown-item:active {
  background-color: #B2AC88;
}

@media (max-width: 576px) {
  .navbar-collapse {
    /* padding-top: 1rem; */
    /* padding-left: 1.5rem; */
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
  }

  #nav-icons {
    display: flex;
    flex-direction: row;
  }

  #nav-icons li {
    margin-left: 1rem;
  }

  #badge {
    margin-left: 0.4em;
  }
}